<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>    
  <add key="UrlWebApi" value="https://localhost:44311/v1/"/>
  <add key="App" value="Ubox" />
  <add key="Version" value="1.0" />
  <add key="Plataforma" value="Windows" />
  <add key="IdUbox" value="1"/>
  <add key="ClaveUbox" value="12345"/>



  </appSettings>

  <connectionStrings>
    <add name="str" connectionString="server=ALANPEREZ;database=Ubox2021; Integrated Security=True;"/>
  </connectionStrings>
</configuration>